<!-- Indica el tipo de archivo que vamos a enviar -->
<!DOCTYPE html>
<!-- Etiqueta html Indica el inicio de una pagina web  -->
<html lang="es">
<head>
   <!--  -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoja de vida Carlos Julio Cadena</title>
    <!-- Para incorporar los estilos se utiliza la etiqueta link -->
    <!-- Se agrega dentro del head -->
    <!-- rel se utiliza para especificar una hoja de estilo -->
    <!-- href="Donde está ubicado el archivo de estilos" -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/all.css">
</head>
<body>
   <!-- clase contenedor -->
   <!-- incluye el contenido de la pagina -->
   <div id="container">
      <!-- contenedor de la cabecera -->
      <!-- va a contener el nombre del usuario -->
      <div class="containerHeader">
         Carlos Julio Cadena Sarasty
      </div>
      <!-- etiqueta con el cuerpo de la pagina -->
      <div class="body">
         <!-- contenedor del lateral de la pagina -->
         <div class="lateral">
            <!-- contenedor de la foto -->
            <div class="containerPhoto">
               <!-- etiqueta para agregar una imagen -->
               <!-- atributo src= indica donde esta ubicada -->
               <!-- imagen -->
               <img class="imagenPerfil" src="../assets/image/foto.jpg" alt="">
            </div>
            <div class="containerLateral">
               <!-- titulo -->
               <h3>Contacto</h3>
               <!-- ul Genera una lista -->
               <ul>
                  <!-- li es el item de la lista -->
                  <!-- etiqueta a genera un enlace o link -->
                  <!-- función mailto: sirve para generar un -->
                  <!-- correo electronico apenas le den click a mi enlace -->
                  <li><a href="mailto:cjcadena@sena.edu.co"> cjcadena@sena.edu.co</a></li>
                  <li>3214084743</li>
                  <li><i class="fas fa-map-marked-alt"></i> calle 24 # 19 - 22 San Ignacio</li>
               </ul>
               <h3>Hobbies</h3>
               <ul>
                  <li>VideoJuegos</li>
                  <li>Programar</li>
                  <li>Natación</li>
               </ul>
               <h3>Redes sociales</h3>
               <ul>
                  <li><a href="https://www.facebook.com/cjsarasty"> Facebook</a></li>
                  <li>Twitter</li>
                  <li>Instagram</li>
               </ul>
            </div>
            <!-- contenedor para parte principal -->
            <div class="containerPrincipal">
               <!-- h1 crea un titulo -->
               <h1>Perfil</h1>
               What is Lorem Ipsum?
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
               
               Why do we use it?
               It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
               
               <h1>Información Personal</h1>
           
               What is Lorem Ipsum?
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
           
               Why do we use it?
               It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
           
               <h1>Educación</h1>
               <!-- Crea una tabla -->
               <table>
                  <!-- crea la cabecera de la tabla -->
                  <thead>
                     <!-- crea la fila cabecera de la tabla -->
                     <tr>
                        <!-- td crea la celda tabla -->
                        <td>
                           Periodo
                        </td>
                        <!-- Fin de la etiqueta td -->
                        <td>
                           Estudio
                        </td>
                     </tr>
                     <!-- fin etiqueta th -->
                  </thead>
                  <!-- fin etiqueta thead -->
                  <!-- Cuerpo de la tabla -->
                  <tbody>
                     <!-- Crea la fila de la tabla -->
                     <tr>
                        <td>2011 - 2016</td>
                        <td>Corhuila - Ingeniería de sistemas</td>
                     </tr>
                     <tr>
                        <td>2020 - Actual</td>
                        <td>UDI Maestría En Tic para Educación</td>
                     </tr>
                  </tbody>
                  <!-- Fin Tbody -->
               </table>
               <!-- fin etiqueta table -->
               <h1>Video</h1>
               <video src="../assets/video/video.mp4" autoplay controls></video>
               <h1>Imagenes</h1>
               <!-- atributo style permite agregar estilos a la etiqueta -->
               <!-- width especifica el ancho elemento -->
               <!-- height espeficia el alto -->
               <!-- <img src="../assets/image/imagen1 (1).jpeg" style="height: 200px; width: 500px;" alt=""> -->
               <img src="../assets/image/imagen1 (2).jpeg" alt="">
               <img src="../assets/image/imagen1 (3).jpeg" alt="">
               <img src="../assets/image/imagen1 (4).jpeg" alt="">               
               <!-- etiqueta para incorporar un archivo de audio -->
               <audio src="../assets/audio/audio.ogg" controls></audio>
            </div>
            <!-- end containerPrincipal -->

         </div>
      </div>

   </div>

</body>
</html>